name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run the script
        run: python hello.py
        
  deploy:
      runs-on: ubuntu-latest
      needs: build
      steps:
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.0.0
        with:
          name: Create artifact
          path: hellp.py
